@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

body    {font-family: Poppins;
        margin: 0;
        background-image: url(./img/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;   
}